# Basic List Operations

1. Create a list of 5 numbers and add a new number to the end.

In [2]:
lst1=[10,20,30,40,50]
lst1.append(60)
lst1

[10, 20, 30, 40, 50, 60]

2. Make a list of fruits and insert a fruit at the second position.

In [3]:
lst2=["Mango","Orange","Apple","Banana"]
lst2.insert(1, "Pineapple")
lst2

['Mango', 'Pineapple', 'Orange', 'Apple', 'Banana']

3. Create a list of names and remove one name from the list.

In [4]:
lst3=["Tanmayee","Aditi","Arya","Sayali","Geeta"]
lst3.remove("Arya")
lst3

['Tanmayee', 'Aditi', 'Sayali', 'Geeta']

4. Create a list of 4 items and change the value at index 2.

In [6]:
lst3=["Tanmayee","Aditi","Arya","Sayali","Geeta"]
lst3[2]="Vaishnavi"
lst3

['Tanmayee', 'Aditi', 'Vaishnavi', 'Sayali', 'Geeta']

5. Make a list of numbers and print only the first three elements.

In [8]:
lst4=[1,2,3,4,5,6]
lst4[0:3]

[1, 2, 3]

6. Create a list of colors and find the index of a specific color.

In [9]:
lst5=["Pink","Blue","White","Black"]
lst5.index("Blue")

1

7. Create a list of 10 numbers and print how many times “5” appears.

In [10]:
lst6=[1,2,5,4,5,7,8,9,5,2]
lst6.count(5)

3

8. Make a list of 6 items and delete the item at index 3.

In [12]:
lst7=["Tanmayee","Aditi","Arya","Sayali","Geeta","Sejal"]
del lst7[3]
lst7

['Tanmayee', 'Aditi', 'Arya', 'Geeta', 'Sejal']

9. Create a list of animals and add three more animals using extend().

In [14]:
lst8=["Cat","Dog","Horse","Lion"]
lst9=["Tiger","Mouse","Cow"]
lst8.extend(lst9)
lst8

['Cat', 'Dog', 'Horse', 'Lion', 'Tiger', 'Mouse', 'Cow']

10. Create a list and remove the last item using pop().

In [15]:
lst11=["Cat","Dog","Horse","Lion"]
lst11.pop(3)

'Lion'

11. Create a list of prices and sort them in ascending order.

In [17]:
prices=[60000,50000,30000,40000,70000,10000]
prices.sort()
prices

[10000, 30000, 40000, 50000, 60000, 70000]

12. Make a list of countries and reverse the order of the list.

In [19]:
countries=["India","America","Nepal","Russia","Japan"]
countries.reverse()
countries

['Japan', 'Russia', 'Nepal', 'America', 'India']

13. Create a list of words and check if “apple” is in the list.

In [21]:
fruits=["Mango","Orange","Apple","Banana"]
"Apple" in fruits

True

14. Create a list of numbers and print the largest and smallest number.

In [22]:
num=[23,45,98,23,44,65,76]
print(max(num))
print(min(num))

98
23

15. Make a list of 5 items and print each item using a loop.

In [25]:
num=[23,45,98,65,76]
for i in num:
    print(i)

23
45
98
65
76

16. Create two lists and combine them into one list.

In [ ]:
ls1=["Tanu","Panu","Aru"]
ls2=["Tanshu","Varun","Hiten"]
ls1.extend(ls2)
ls1

['Tanu', 'Panu', 'Aru', 'Tanshu', 'Varun', 'Hiten']

17. Make a list and replace the last item with a new value.

In [29]:
ls3=[1,2,3,4,5,6,7]
ls3[6]=8
ls3

[1, 2, 3, 4, 5, 6, 8]

18. Create a list of numbers and print only the even numbers.

In [54]:
ls4=[1,2,3,4,5,6,7,8]
for i in ls4:
    if i%2==0:
        print(i)

2
4
6
8

19. Create a list and clear all items from the list.

In [34]:
ls3=[1,2,3,4,5,6,7]
ls3.clear()
ls3

[]

20. Create a list of 5 values and copy it into another list.

In [57]:
list1=[1,2,3,4,5]
list2=list1.copy()
list2

[1, 2, 3, 4, 5]