### 1. Print numbers from 1 to 10 using a for loop

In [2]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

### 2. Print all even numbers between 1 and 20 using a for loop

In [3]:
for i in range(1,21):
    if i%2==0:
        print(i)

2
4
6
8
10
12
14
16
18
20

### 3. Print each character of the sting 'Python' using a for loop

In [ ]:
st="Python"
for ch in st:
    print(ch)

P
y
t
h
o
n

### 4. Print the squares of numbers from 1 to 5 using a for loop

In [5]:
for i in range(1,6):
    print(i**2)

1
4
9
16
25

### 5. Print all elements of a list using a for loop

In [6]:
lst=[1,2,3,4,5,6]
for i in lst:
    print(i)

1
2
3
4
5
6

### 6. Calculate the sum of numbers from 1 to 50 using a for loop

In [45]:
total=0
for i in range(1,51):
    total+=i
print(total)

1275

### 7. Print numbers from 10 to 1 in reverse using a for loop

In [12]:
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

### 8. Print the multiplication table of 7 using a for loop

In [ ]:
for i in range(1,11):
    print("7 x",i,"=",7*i)

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

### 9. Count how many vowels are in the sting 'education' using a for loop

In [19]:
st="education"
vowels="aeiou"
count=0
for i in st:
    if i in vowels:
        count+=1
print(count)

5

### 10. Print all odd numbers from 1 to 30 using a for loop

In [20]:
for i in range(1,31):
    if i%2==1:
        print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29

### 11. Count how many uppercase letters are in a sting using a for loop

In [29]:
string="Python Practice"
count=0
for i in string:
    if i.isupper():
        count+=1
print(count)

2

### 12. Create a new list that contains only the positive numbers from another list

In [30]:
num=[-1,4,0,-3,2,-7]
pos_num=[]
for i in num:
    if i>0:
        pos_num.append(i)
print(pos_num)

[4, 2]

### 13. Print numbers from 1 to 10 using a while loop

In [34]:
count=1
while count<=10:
    print(count)
    count+=1

1
2
3
4
5
6
7
8
9
10

### 14. Print all multiples of 5 up to 50 using a while loop

In [37]:
num=5
while num<=50:
    print(num)
    num+=5

5
10
15
20
25
30
35
40
45
50

### 15. Print numbers from 10 to 1 in reverse using a while loop

In [39]:
count=10
while count>=1:
    print(count)
    count-=1

10
9
8
7
6
5
4
3
2
1

### 16. Keep asking the user to enter numbers until the user enters 0

In [46]:
num=int(input("Enter the number"))
while num!=0:
    print("You entered:",num)
    num=int(input("Enter the number"))
print("You entered 0")

You entered: 45
You entered: 55
You entered 0

### 17. Use a while loop to calculate the sum of the first 10 natural numbers

In [47]:
count=1
total=0
while count<=10:
    total+=count
    count+=1
print(total)

55

### 18. Given a dictionary of fruits and their prices, print all the keys using a for loop

In [50]:
dic={"Apple":140,"Orange":80,"Mango":200}
for keys in dic.keys():
    print(keys)

Apple
Orange
Mango

### 19. Given a dictionary of fruits and their prices, print all the values using a for loop

In [49]:
dic={"Apple":140,"Orange":80,"Mango":200}
for i in dic.values():
    print(i)

140
80
200

### 20. Print both keys and values of a dictionary using a for loop

In [54]:
dic={"Apple":140,"Orange":80,"Mango":200}
for key,value in dic.items():
    print(f"Key:{keys},Value:{value}")

Key:Mango,Value:140
Key:Mango,Value:80
Key:Mango,Value:200

### 21. Count how many keys are in a dictionary using a for loop

In [67]:
count=0
dic={"Apple":140,"Orange":80,"Mango":200}
for i in dic.keys():
    count+=1
print(count)

3

### 22. Create a dictionary and print only the keys that start with the letter 'a'

In [68]:
dic={"Apple":140,"Orange":80,"Mango":200}
for i in dic.keys():
    if i.startswith("A"):
        print(i)

Apple

### 23. Given a dictionary of student names and marks, print only the students who scored more than 80

In [ ]:
dic={"Riya":80,"Om":90,"Bob":75}
for key,keyue in dic.items():
    if value>80:
        print(key)

Om

### 24. Given a dictionary, print the sum of all the values using a for loop

In [76]:
dic={"Riya":80,"Om":90,"Bob":75}
count=0
for value in dic.values():
    count+=value
print(count)

245

### 25. Given a dictionary, find the key with the highest value using a for loop

In [153]:
dic={"Riya":80,"Om":90,"Bob":75}
for key,value in dic.items():
    print(keys,max(dic.values()))
    break

Mango 90

### 26. Convert all dictionary keys into a list using a for loop

In [101]:
dic={"Riya":80,"Om":90,"Bob":75}
lst=[]
for key in dic.keys():
    lst.append(key)
print(lst)

['Riya', 'Om', 'Bob']

### 27. Create a dictionary of 5 words and their lengths, then print each word and its length using a for loop

In [104]:
""" dic={"Tanmayee":8,"Aditi":5,"Arya":4,"Pranit":6}
for key,value in dic.items():
    print(key,value) """

dic={"Tanmayee":len("Tanmayee"),"Aditi":len("Aditi"),"Arya":len("Arya"),"Pranit":len("Pranit")}
for key,value in dic.items():
    print(key,value)

Tanmayee 8
Aditi 5
Arya 4
Pranit 6

### 28. Given a list of numbers, print only numbers greater than 10

In [112]:
lst=[12,2,4,15,22,5,1]
for i in lst:
    if i>10:
        print(i)

12
15
22

### 29. Count how many elements in a list are integers using a for loop

In [120]:
lst=[12,2,"B",4,15,"C",22,5,1,"A"]
count=0
for i in lst:
    if isinstance(i,int):
        count+=1
print(count)

7

### 30. Print the sum of all even numbers in a list using a for loop

In [135]:
lst=[12,2,4,15,22,5,1]
total=0
for i in lst:
    if i%2==0:
        total+=i
print(total)

40

### 31. Print the cube of each number in a list of 5 numbers

In [136]:
lst=[1,2,3,4,5]
for i in lst:
    print(i**3)

1
8
27
64
125

### 32. Print each word in the sentence 'Python is fun' using a for loop

In [140]:
string="Python is fun"
for i in string.split():
    print(i)

Python
is
fun

### 33. Print the first 5 multiples of 3 using a for loop

In [146]:
count=1
for i in range(5):
    print(3*count)
    count+=1

3
6
9
12
15

### 34. Print only names that start with 'A' from a list of names

In [147]:
lst=["Tanmayee","Arya","Pranit","Aditi"]
for i in lst:
    if i.startswith("A"):
        print(i)

Arya
Aditi

### 35. Find the largest number in a list using a for loop

In [152]:
lst=[12,2,4,15,22,5,1]
for i in lst:
    print(max(lst))
    break

22

### 36. Print the index and value of each element in a list

In [158]:
lst=[12,2,4,15,22,5,1]
for index in range(len(lst)):
    print(index,lst[index])

0 12
1 2
2 4
3 15
4 22
5 5
6 1

### 37. Create a dictionary with 5 students and their marks

In [159]:
dic={"Riya":80,"Om":90,"Bob":75}
dic

{'Riya': 80, 'Om': 90, 'Bob': 75}

### 38. Use a for loop to print all student names

In [160]:
dic={"Riya":80,"Om":90,"Bob":75}
for key in dic.keys():
    print(key)

Riya
Om
Bob

### 39. Given a dictionary of fruits and prices, use a for loop to print each fruit and its price

In [161]:
dic={"Apple":140,"Orange":80,"Mango":200}
for key,value in dic.items():
    print(key,value)

Apple 140
Orange 80
Mango 200

### 40. Create a dictionary of 5 products and their prices. Increase every product's price by 10% using a for loop

In [186]:
dic={"Chocolate":140,"Fruits":80,"Chair":200,"Table":500,"Oven":1000}
for key in dic:
    inc=int(dic[key]*(10/100))
    dic[key]=dic[key]+inc
print(dic)

{'Chocolate': 154, 'Fruits': 88, 'Chair': 220, 'Table': 550, 'Oven': 1100}

### 41. Given a dictionary of 10 items, delete all items whose value is less than 50 using a for loop

In [4]:
dic = {"Chocolate":40,"Fruits": 80,"Chair": 200,"Table": 500,"Oven": 1000,"Book": 35,"Phone": 15000,"Fan": 300,"Pen": 50,"Bag": 1200}
print(dic)

{'Chocolate': 40, 'Fruits': 80, 'Chair': 200, 'Table': 500, 'Oven': 1000, 'Book': 35, 'Phone': 15000, 'Fan': 300, 'Pen': 50, 'Bag': 1200}

In [11]:
for key,val in list(dic.items()):
    if val<50:
        dic.pop(key)
print(dic)

{'Fruits': 80, 'Chair': 200, 'Table': 500, 'Oven': 1000, 'Phone': 15000, 'Fan': 300, 'Pen': 50, 'Bag': 1200}

### 42. Create a dictionary of subjects and marks. Add a new subject and mark. Then use a for loop to print all updated keyâ€“value pairs

In [16]:
dic = {"Maths":80,"Marathi": 75,"Biology": 82,"English": 72,"geography": 85}
dic["History"]=90
for key,val in dic.items():
    print(key,":",val)

Maths : 80
Marathi : 75
Biology : 82
English : 72
geography : 85
History : 90

### 43. Given a dictionary of names and ages, add 1 year to every age using a for loop

In [21]:
dic={"Tanmayee":22,"Aditi":23,"Pranit":18,"Sayali":24}
for key in dic:
    dic[key]=dic[key]+1
print(dic)

{'Tanmayee': 23, 'Aditi': 24, 'Pranit': 19, 'Sayali': 25}

### 44. Print numbers from 0 to 9 using range()

In [22]:
for i in range(0,10):
    print(i)

0
1
2
3
4
5
6
7
8
9

### 45. Print numbers from 5 to 15 using range()

In [23]:
for i in range(5,16):
    print(i)

5
6
7
8
9
10
11
12
13
14
15

### 46. Print numbers from 1 to 20 with a step of 2 using range()

In [24]:
for i in range(1,21,2):
    print(i)

1
3
5
7
9
11
13
15
17
19

### 47. Print the length of a given list using len()

In [32]:
lst=[1,2,3,4,5,6,7]
print(len(lst))

7

### 48. Print the length of a given sting using len()

In [33]:
string="Python"
print(len(string))

6

### 49. Use range() and len() to iterate over a list by index and print each element

In [35]:
lst=[1,"Tanmayee",3,4,5,"Aditi",7]
for index in range(len(lst)):
    print(index,lst[index])

0 1
1 Tanmayee
2 3
3 4
4 5
5 Aditi
6 7

### 50. Print the sum of numbers from 1 to 100 using range()

In [36]:
count=0
for i in range(1,101):
    count+=i
print(count)

5050