# ðŸ“ Python Assignment â€“ Nested Lists & Nested Dictionaries
## Medium Level Questions (20)
### Instructions:
- Write all your answers in the code cells provided.
- Do not erase the questions.
- Use loops (`for` / `while`) wherever necessary.
---

## **1. Print every element inside this nested list:**
`[[1,2,3], [4,5], [6,7,8,9]]`

In [2]:
# Write your answer here
lst=[[1,2,3],[4,5],[6,7,8,9]]
for i in lst:
    for j in i:
        print(j)

1
2
3
4
5
6
7
8
9

## **2. Find the sum of all numbers inside a nested list.**
Example: `[[10,20], [30], [5, 7, 8]]`

In [3]:
# Write your answer here
lst=[[10,20],[30],[5,7,8]]
for i in lst:
    for j in i:
        print(j)

10
20
30
5
7
8

## **3. Count how many even numbers are present in a nested list.**

In [6]:
# Write your answer here
lst=[[10,20],[30],[5,7,8]]
for i in lst:
    for j in i:
        if j%2==0:
            print(j)

10
20
30
8

## **4. Convert all strings to uppercase inside a nested list.**
Example: `[['hello', 'world'], ['python']]`

In [7]:
# Write your answer here
str1=[['hello','world'],['python']]
for i in str1:
    for j in i:
        print(j.upper())

HELLO
WORLD
PYTHON

## **5. For the nested marks list, print total marks of each student.**
`[[80, 90, 85], [75, 70, 65], [88, 92, 79]]`

In [12]:
# Write your answer here
lst=[[80,90,85],[75,70,65],[88,92,79]]
for i in lst:
    print(sum(i))

255
210
259

## **6. Create a new list containing numbers greater than 50 from a nested list.**

In [25]:
# Write your answer here
lst=[[80,90,85],[45,70,65],[48,92,79]]
lst2=[]
for i in lst:
    for j in i:
        if j>50:
            lst2.append(j)
print(lst2)

[80, 90, 85, 70, 65, 92, 79]

## **7. Find the largest number inside a nested list.**

In [37]:
# Write your answer here
lst=[[80,90,85],[45,70,65],[48,92,79]]
largest=lst[0]
lar2=largest[0]
for i in lst:
    for j in i:
        if j>lar2:
            lar2=j
print(lar2)

92

## **8. Flatten a nested list into a single list.**
`[[1,2], [3,4], [5]] â†’ [1,2,3,4,5]`

In [39]:
# Write your answer here
lst=[[1,2],[3,4],[5]]
lst2=[]
for i in lst:
    for j in i:
        lst2.append(j)
print(lst2)

[1, 2, 3, 4, 5]

## **9. Replace all negative numbers with 0 inside a nested list.**

In [42]:
# Write your answer here
lst=[[-80,90,85],[45,-70,65],[48,92,-79]]
for i in lst:
    for j in range(len(i)):
        if i[j]<0:
            i[j]=0
print(lst)

[[0, 90, 85], [45, 0, 65], [48, 92, 0]]

## **10. Count how many inner lists exist inside a nested list.**

In [ ]:
# Write your answer here
lst=[[-80,90,85],[45,-70,65],[48,92,-79]]
len(lst)

3

## **11. Print each student's name and age from this nested dictionary:**
```
{
  'A': {'age': 15, 'grade': 10},
  'B': {'age': 16, 'grade': 11}
}
```

In [5]:
# Write your answer here
dic={"A":{'age':15,'grade':10},"B":{'age':16,'grade':11}}
for name,info in dic.items():
    print("name:",name, "age:",info["age"])

name: A age: 15
name: B age: 16

## **12. Increase every student's marks by 5 in a nested dictionary.**

In [14]:
# Write your answer here
dic={"A":{"name":"abc","marks":80},"B":{"name":"xyz","marks":70},"C":{"name":"ghj","marks":85}}
for key,value in dic.items():
    value["marks"]+=5
dic

{'A': {'name': 'abc', 'marks': 85},
 'B': {'name': 'xyz', 'marks': 75},
 'C': {'name': 'ghj', 'marks': 90}}

## **13. Print only the inner dictionary keys from a nested dictionary.**

In [21]:
# Write your answer here
dic={"A":{"name":"abc","marks":80},"B":{"name":"xyz","marks":70},"C":{"name":"ghj","marks":85}}
for key,inner_key in dic.items():
    print(inner_key.keys())
    break

dict_keys(['name', 'marks'])

## **14. Count how many students scored more than 80 in math:**
```
{
  'A': {'math': 85, 'science': 90},
  'B': {'math': 70, 'science': 88}
}
```

In [24]:
# Write your answer here
dic={
  'A': {'math': 85, 'science': 90},
  'B': {'math': 70, 'science': 88}
}
count=0
for key,value in dic.items():
    if value['math']>80:
        count+=1
print(count)

1

## **15. Create a new dictionary of students whose age is above 15.**

In [26]:
# Write your answer here
dic={"A":{'age':15,'grade':10},"B":{'age':16,'grade':11}}
dic2={}
for key,value in dic.items():
    if value["age"]>15:
        dic2[key]=value
dic2

{'B': {'age': 16, 'grade': 11}}

## **16. Find which student scored highest in science.**

In [32]:
# Write your answer here
dic={
  'A': {'math': 85, 'science': 90},
  'B': {'math': 70, 'science': 88}
}
high=[]
for key,value in dic.items():
    high.append(value['science'])
print(max(high))

90

## **17. Print employees who belong to the HR department from this dictionary.**

In [35]:
# Write your answer here
employees = {
    "emp1": {"name": "ABC", "dept": "HR"},
    "emp2": {"name": "XYZ", "dept": "IT"},
    "emp3": {"name": "PQR", "dept": "HR"}
}
for key,value in employees.items():
    if value['dept']=='HR':
        print(key,value)

emp1 {'name': 'ABC', 'dept': 'HR'}
emp3 {'name': 'PQR', 'dept': 'HR'}

## **18. Delete all entries where the status is 'inactive'.**

In [46]:
# Write your answer here
users = {
    1: {"name": "ABC", "status": "active"},
    2: {"name": "XYZ", "status": "inactive"},
    3: {"name": "PQR", "status": "active"},
    4: {"name": "GHJ", "status": "inactive"}
}
for key in list(users.keys()):
    if users[key]['status']=='inactive':
        del users[key]
print(users)

{1: {'name': 'ABC', 'status': 'active'}, 3: {'name': 'PQR', 'status': 'active'}}

## **19. Find total stock by summing all 'quantity' values in a nested dictionary.**

In [48]:
# Write your answer here
stock = {
    "item1": {"name": "Pen", "quantity": 50},
    "item2": {"name": "Book", "quantity": 30},
    "item3": {"name": "Pencil", "quantity": 20}
}
quant = sum(item['quantity'] for item in stock.values())
print(quant)

#OR
quant2=0
for key, value in stock.items():
    quant2+=value['quantity']
print(quant2)

100
100

## **20. Convert all inner dictionary keys to uppercase.**

In [58]:
# Write your answer here
data = {
    "item1": {"name":"Pen", "quantity": 50},
    "item2": {"name":"Book", "quantity": 30},
    "item3": {"name":"Pencil", "quantity": 20}
}
new_data={}
for key, inner in data.items():
    new_inner = {k.upper(): v for k, v in inner.items()}
    new_data[key] = new_inner
print(new_data)

{'item1': {'NAME': 'Pen', 'QUANTITY': 50}, 'item2': {'NAME': 'Book', 'QUANTITY': 30}, 'item3': {'NAME': 'Pencil', 'QUANTITY': 20}}