### What is a function in Python?

In [ ]:
"""It is a block of code which only runs when it is called.
Helps to avoid code repetition"""

### Write the correct syntax of a Python function.

In [ ]:
def fun_name():
    print("Message")
fun_name()

### What is the default return value of a function if no return statement is used?

In [ ]:
"""default return value of function is none"""

### Define a function named hello() that prints "Hello World".

In [2]:
def hello():
    print("Hello World")
hello()

Hello World

### What is the difference between a parameter and an argument? Write a function with two parameters a and b that returns their sum.

In [6]:
"""Parameters are the variables listed in the function's definition, 
while arguments are the actual values passed to the function when it is called"""
def num(a, b):
    return a + b
num(5, 10)

15

### What are positional arguments? Give an example.

In [3]:
"""These are values passed to a function or method based on their order or position in the function call. """
def stu(name, rollno):
    print(name,rollno)
stu("Tanmayee",33)

Tanmayee 33

### What are keyword arguments? Give an example.

In [4]:
"""Keyword arguments, or named arguments, are values passed to a function using the parameter's name (keyword) followed by an equals sign (\(=\)), like parameter_name=value """
def stu(name, rollno):
    print(name,rollno)
stu(name="Tanmayee",rollno=33)

Tanmayee 33

### What are default parameters? Write a function with a default parameter country="India" that prints "I live in <country>".

In [9]:
"""A default parameter is a parameter in a function definition that has a predefined value. If the function is called without an argument for that parameter, the default value is used"""
def country(country="India"):
    print(f"I live in {country}")
country()
country("USA")

I live in India
I live in USA

### Write a function square(n) that returns the square of a number.

In [5]:
def square(n):
    return n**2
square(2)
square(3)

9

### What does *args mean in Python? Write a function that accepts any number of values using *args and prints them.

In [11]:
#args used to pass the variable number arguments
def example(*args):
    print("Received values:")
    for value in args:
        print(value)
example(1, 2, 3)
example("hello", "world")
example(True, 10.5, [1, 2])
example()

Received values:
1
2
3
Received values:
hello
world
Received values:
True
10.5
[1, 2]
Received values:

### What does **kwargs mean? Write a function that prints all keyword arguments using **kwargs.

In [24]:
#kargs used to pass any number of keywrod arguments
def ex1(**kargs):
    print(kargs)
ex1(name="Tanmayee",rollno=33)

{'name': 'Tanmayee', 'rollno': 33}

### Write a function that returns two values: the sum and product of two numbers. Can a Python function return multiple values? How?

In [26]:
def val(a,b):
    add=a+b
    pro=a*b
    return add,pro
val(2,3)

(5, 6)

### Write a function even_or_odd(n) that returns "Even" or "Odd".

In [30]:
def even_or_odd(n):
    if n%2==0:
        print("Even")
    else:
        print("Odd")
even_or_odd(2)
even_or_odd(3)

Even
Odd

### Write an adapter function that takes a list of operations and executes add, sub, mul, div based on input. 

### Example: [ {"op": "add", "a": 10, "b": 20}, {"op": "mul", "a": 4, "b": 5} ]

In [ ]:
operations=[ {"op": "add", "b": 10, "b": 20}, {"op": "mul", "a": 4, "b": 5} ]
def adapter(operations):
    for i in operations:
        if i["op"]=="add":
            print(i["a"]+i["b"])
        elif i["op"]=="mul":
            print(i["a"]*i["b"])
        else:
            print(i["a"]/i["b"])
adapter(operations)

30
20

In [1]:
operations=[ {"op": "add", "a": 10, "b": 20}, {"op": "mul", "a": 4, "b": 5} ,{"op": "div", "a": 4, "b": 5} ]
def adapter(operations):
    for i in operations:
        if i["op"]=="add":
            print(i["a"]+i["b"])
        elif i["op"]=="mul":
            print(i["a"]*i["b"])
        else:
            print(i["a"]/i["b"])
adapter(operations)

30
20
0.8

### Write a function process_students(data) that prints total marks and grade for each student.
- Example: [ {"name":"A", "marks":[80,90,70]}, {"name":"B", "marks":[60,75,65]} ] 
- Expected Output: Name: A | Total: 240 | Grade: A Name: B | Total: 200 | Grade: B

In [39]:
data=[ {"name":"A", "marks":[80,90,70]}, {"name":"B", "marks":[60,75,65]} ] 
def process_students(data):
    for i in data:
        total_marks=sum(i["marks"])
        if total_marks>=240:
            print("Name:", i["name"],"|","Total:",total_marks,"|","Grade: A")
        elif total_marks>=200:
            print("Name:", i["name"],"|","Total:",total_marks,"|","Grade: B")
        else:
            print("None")
process_students(data)

Name: A | Total: 240 | Grade: A
Name: B | Total: 200 | Grade: B

### Create a function apply_discounts(products) that updates price after discount. 
- Example: [ {"name":"Laptop", "price":50000, "discount":10}, {"name":"Phone", "price":20000, "discount":5} ] 
- Expected Output: Laptop final: 45000 Phone final: 19000

In [42]:
def apply_discounts(products):
    for i in products:
        discount_price=int(i["price"]-(i["price"]*(i["discount"]/100)))
        print(i["name"], "final:",discount_price)
products=[ {"name":"Laptop", "price":50000, "discount":10}, {"name":"Phone", "price":20000, "discount":5} ]
apply_discounts(products)

Laptop final: 45000
Phone final: 19000

### Write a function generate_report(employees) that calculates bonus based on salary slabs. 
- Slabs: 
- salary > 50,000 → bonus = 15%, 
- salary 30,000–50,000 → bonus = 10%, 
- salary < 30,000 → bonus = 5%. 

#### Example employees = 
- [ {"id": 101, "name": "Amit", "age": 28, "department": "IT", "salary": 55000}, {"id": 102, "name": "Neha", "age": 24, "department": "HR", "salary": 40000}, {"id": 103, "name": "Raj", "age": 31, "department": "Finance", "salary": 65000}, {"id": 104, "name": "Simran", "age": 29, "department": "IT", "salary": 60000}, {"id": 105, "name": "Vijay", "age": 35, "department": "Admin", "salary": 35000} ]

In [56]:
def generate_report(employees):
    for i in employees:
        if i["salary"]>=50000:
            bonus=i["salary"]+(i["salary"]*(15/100))
        elif 30000<i["salary"]<50000:
            bonus=i["salary"]+(i["salary"]*(10/100))
        elif i["salary"]<30000:
            bonus=i["salary"]+(i["salary"]*(5/100))
        else:
            print("None")

        print("id:",i["id"],",","name:",i["name"],",","age:",i["age"],",","department:",i["department"],",","bonus:",int(bonus))
    
employees=[ {"id": 101, "name": "Amit", "age": 28, "department": "IT", "salary": 55000}, 
           {"id": 102, "name": "Neha", "age": 24, "department": "HR", "salary": 40000}, 
           {"id": 103, "name": "Raj", "age": 31, "department": "Finance", "salary": 65000}, 
           {"id": 104, "name": "Simran", "age": 29, "department": "IT", "salary": 60000}, 
           {"id": 105, "name": "Vijay", "age": 35, "department": "Admin", "salary": 35000} ]
generate_report(employees)

id: 101 , name: Amit , age: 28 , department: IT , bonus: 63250
id: 102 , name: Neha , age: 24 , department: HR , bonus: 44000
id: 103 , name: Raj , age: 31 , department: Finance , bonus: 74750
id: 104 , name: Simran , age: 29 , department: IT , bonus: 69000
id: 105 , name: Vijay , age: 35 , department: Admin , bonus: 38500

In [8]:
def generate_report(employees):
    high_sal=0
    for i in employees:
        id=i["id"]
        name=i["name"]
        age=i["age"]
        department=i["department"]
        salary=i["salary"]

        if salary>50000:
            bonus=15/100
        elif 30000<salary<50000:
            bonus=10/100
        elif salary<30000:
            bonus=5/100
        else:
            print("None")
        high_sal=salary+bonus
        print(f"id:,{id}, name:,{name},age:,{age},department:,{department},salary:,{high_sal}")

employees=[ {"id": 101, "name": "Amit", "age": 28, "department": "IT", "salary": 55000}, 
           {"id": 102, "name": "Neha", "age": 24, "department": "HR", "salary": 40000}, 
           {"id": 103, "name": "Raj", "age": 31, "department": "Finance", "salary": 65000}, 
           {"id": 104, "name": "Simran", "age": 29, "department": "IT", "salary": 60000}, 
           {"id": 105, "name": "Vijay", "age": 35, "department": "Admin", "salary": 35000} ]
generate_report(employees)

id:,101, name:,Amit,age:,28,department:,IT,salary:,55000.15
id:,102, name:,Neha,age:,24,department:,HR,salary:,40000.1
id:,103, name:,Raj,age:,31,department:,Finance,salary:,65000.15
id:,104, name:,Simran,age:,29,department:,IT,salary:,60000.15
id:,105, name:,Vijay,age:,35,department:,Admin,salary:,35000.1

### Write a function get_employee_names(emp_list) that returns a list of all employee names.

In [10]:
def get_employee_name(emp_list):
    lt=[]
    for i in emp_list:
        lt.append(i["name"])
    print(lt)
list=[ {"id": 101, "name": "Amit", "age": 28, "department": "IT", "salary": 55000}, 
           {"id": 102, "name": "Neha", "age": 24, "department": "HR", "salary": 40000}, 
           {"id": 103, "name": "Raj", "age": 31, "department": "Finance", "salary": 65000}, 
           {"id": 104, "name": "Simran", "age": 29, "department": "IT", "salary": 60000}, 
           {"id": 105, "name": "Vijay", "age": 35, "department": "Admin", "salary": 35000} ]
get_employee_name(list)

['Amit', 'Neha', 'Raj', 'Simran', 'Vijay']

### Write a function filter_by_department(emp_list, dept) that returns employees belonging to a specific department.

In [9]:
def filter_by_department(emp_list,dept):
    lt_dept=[]
    for i in emp_list:
        if i["department"]==dept:
            lt_dept.append(i['name'])
    print(lt_dept)

list=[ {"id": 101, "name": "Amit", "age": 28, "department": "IT", "salary": 55000}, 
           {"id": 102, "name": "Neha", "age": 24, "department": "HR", "salary": 40000}, 
           {"id": 103, "name": "Raj", "age": 31, "department": "Finance", "salary": 65000}, 
           {"id": 104, "name": "Simran", "age": 29, "department": "IT", "salary": 60000}, 
           {"id": 105, "name": "Vijay", "age": 35, "department": "Admin", "salary": 35000} ]
filter_by_department(list,"IT")

['Amit', 'Simran']

### Write a function highest_salary(emp_list) that returns the employee with the highest salary.

In [4]:
def highest_salary(emp_list):
    high_sal=0
    for i in emp_list:
        if i['salary']>high_sal:
            high_sal=i['salary'] 
    print(high_sal)
emp_list=[ {"id": 101, "name": "Amit", "age": 28, "department": "IT", "salary": 55000}, 
           {"id": 102, "name": "Neha", "age": 24, "department": "HR", "salary": 40000}, 
           {"id": 103, "name": "Raj", "age": 31, "department": "Finance", "salary": 65000}, 
           {"id": 104, "name": "Simran", "age": 29, "department": "IT", "salary": 60000}, 
           {"id": 105, "name": "Vijay", "age": 35, "department": "Admin", "salary": 35000} ]
highest_salary(emp_list)

65000

### Write a function average_salary(emp_list) that returns the average salary.

In [18]:
def average_salary(emp_list):
    total=0
    count=0
    for i in emp_list:
        total+=i['salary']
        count+=1
    return int(total/count)
emp_list=[ {"id": 101, "name": "Amit", "age": 28, "department": "IT", "salary": 55000}, 
           {"id": 102, "name": "Neha", "age": 24, "department": "HR", "salary": 40000}, 
           {"id": 103, "name": "Raj", "age": 31, "department": "Finance", "salary": 65000}, 
           {"id": 104, "name": "Simran", "age": 29, "department": "IT", "salary": 60000}, 
           {"id": 105, "name": "Vijay", "age": 35, "department": "Admin", "salary": 35000} ]
average_salary(emp_list)

51000

### Write a function salary_hike(emp_list, percent) that increases each salary by given percent.

In [26]:
def salary_hike(emp_list,percent):
    for i in emp_list:
        i['salary']=i['salary']+(i['salary']*(percent/100))
        print("id:",i['id'],',',"name:",i['name'],',',"age:",i['age'],',',"department:",i['department'],',',"salary:",i['salary'])
emp_list=[ {"id": 101, "name": "Amit", "age": 28, "department": "IT", "salary": 55000}, 
           {"id": 102, "name": "Neha", "age": 24, "department": "HR", "salary": 40000}, 
           {"id": 103, "name": "Raj", "age": 31, "department": "Finance", "salary": 65000}, 
           {"id": 104, "name": "Simran", "age": 29, "department": "IT", "salary": 60000}, 
           {"id": 105, "name": "Vijay", "age": 35, "department": "Admin", "salary": 35000} ]
salary_hike(emp_list,10)

id: 101 , name: Amit , age: 28 , department: IT , salary: 60500.0
id: 102 , name: Neha , age: 24 , department: HR , salary: 44000.0
id: 103 , name: Raj , age: 31 , department: Finance , salary: 71500.0
id: 104 , name: Simran , age: 29 , department: IT , salary: 66000.0
id: 105 , name: Vijay , age: 35 , department: Admin , salary: 38500.0

### Write out_of_stock(items) that returns all products with stock < 20.

In [28]:
def out_of_stock(items):
    for i in items:
        if i['stock']<20:
            print("id:",i['id'],',',"name:",i['name'],',',"price:",i['price'],',',"stock:",i['stock'])

items = [
    {"id": 1, "name": "Notebook", "price": 50, "stock": 15},
    {"id": 2, "name": "Pen", "price": 10, "stock": 120},
    {"id": 3, "name": "Marker", "price": 30, "stock": 8},
    {"id": 4, "name": "Eraser", "price": 5, "stock": 25},
    {"id": 5, "name": "Stapler", "price": 80, "stock": 12}
]
out_of_stock(items)

id: 1 , name: Notebook , price: 50 , stock: 15
id: 3 , name: Marker , price: 30 , stock: 8
id: 5 , name: Stapler , price: 80 , stock: 12

### Write total_inventory_value(items) → sum(price * stock).

In [ ]:
def total_inventory_value(items):
    total=0
    for i in items:
        total+=i['price']*i['stock']
    print(total)
    
items = [
    {"id": 1, "name": "Notebook", "price": 50, "stock": 15},
    {"id": 2, "name": "Pen", "price": 10, "stock": 120},
    {"id": 3, "name": "Marker", "price": 30, "stock": 8},
    {"id": 4, "name": "Eraser", "price": 5, "stock": 25},
    {"id": 5, "name": "Stapler", "price": 80, "stock": 12}
]
total_inventory_value(items)

3275

### Write search_product(items, name) → return matching product(s).

In [2]:
def search_product(items,name):
    result=[]
    for i in items:
        if name.lower() in i['name'].lower():
            result.append(i)
    print(result)

items = [
    {"id": 1, "name": "Notebook", "price": 50, "stock": 15},
    {"id": 2, "name": "Pen", "price": 10, "stock": 120},
    {"id": 3, "name": "Marker", "price": 30, "stock": 8},
    {"id": 4, "name": "Eraser", "price": 5, "stock": 25},
    {"id": 5, "name": "Stapler", "price": 80, "stock": 12}
]

search_product(items,'pen')

[{'id': 2, 'name': 'Pen', 'price': 10, 'stock': 120}]