# Basic Dictionay Operations

1. Create a dictionary with 3 key-value pairs (name, age, city).

In [1]:
city={"name":"Tanmayee","Age":22,"City":"Kolhapur"}
city

{'name': 'Tanmayee', 'Age': 22, 'City': 'Kolhapur'}

2. Create a dictionary and print the value of a specific key.

In [7]:
city={"name":"Tanmayee","Age":22,"City":"Kolhapur"}
print(city.get("name"))
city["name"]

Tanmayee

'Tanmayee'

3. Make a dictionary and add a new key-value pair to it.

In [11]:
city={"name":"Tanmayee","Age":22,"City":"Kolhapur"}
city["Deg"]="Btech"
city

{'name': 'Tanmayee', 'Age': 22, 'City': 'Kolhapur', 'Deg': 'Btech'}

4. Create a dictionary and change the value of an existing key.

In [12]:
city={"name":"Tanmayee","Age":22,"City":"Kolhapur"}
city["Age"]=23
city

{'name': 'Tanmayee', 'Age': 23, 'City': 'Kolhapur'}

5. Create a dictionary and remove one key using pop().

In [14]:
city={"name":"Tanmayee","Age":22,"City":"Kolhapur"}
city.pop("City")

'Kolhapur'

6. Create a dictionary and remove the last inserted item using popitem().

In [15]:
city={"name":"Tanmayee","Age":22,"City":"Kolhapur"}
city.popitem()

('City', 'Kolhapur')

7. Create a dictionary and print all the keys.

In [16]:
city={"name":"Tanmayee","Age":22,"City":"Kolhapur"}
city.keys()

dict_keys(['name', 'Age', 'City'])

8. Create a dictionary and print all the values.

In [17]:
city={"name":"Tanmayee","Age":22,"City":"Kolhapur"}
city.values()

dict_values(['Tanmayee', 22, 'Kolhapur'])

9. Create a dictionary and print all the key-value items.

In [20]:
city={"name":"Tanmayee","Age":22,"City":"Kolhapur"}
city.items()

dict_items([('name', 'Tanmayee'), ('Age', 22), ('City', 'Kolhapur')])

10. Make a dictionary and check the number of items using len().

In [21]:
city={"name":"Tanmayee","Age":22,"City":"Kolhapur"}
city.__len__()

3

11. Create a dictionary and check if a certain key exists (using "key" in dict).

In [23]:
city={"name":"Tanmayee","Age":22,"City":"Kolhapur"}
"name" in city

True

12. Create an empty dictionary and add two key-value pairs one by one.

In [24]:
dict={}
dict["name"]="ABC"
dict["age"]=23
dict

{'name': 'ABC', 'age': 23}

13. Create a dictionary and update one keyâ€™s value using update().

In [28]:
city={"name":"Tanmayee","Age":22,"City":"Kolhapur"}
dict.update(city)
dict

{'name': 'Tanmayee', 'age': 23, 'Age': 22, 'City': 'Kolhapur'}

14. Create two dictionaries and combine them using update().

In [30]:
city={"name":"Tanmayee","Age":22,"City":"Kolhapur"}
city4={"Address":"Bidri"}
city.update(city4)
city

{'name': 'Tanmayee', 'Age': 22, 'City': 'Kolhapur', 'Address': 'Bidri'}

15. Make a dictionary and get the value of a key using get().

In [32]:
city={"name":"Tanmayee","Age":22,"City":"Kolhapur"}
city.get("City")

'Kolhapur'

16. Create a dictionary and print its type using type().

In [33]:
city={"name":"Tanmayee","Age":22,"City":"Kolhapur"}
type(city)

dict

17. Create a dictionary and replace one value with a new one.

In [35]:
city={"name":"Tanmayee","Age":22,"City":"Kolhapur"}
city["name"]="Pranit"
city

{'name': 'Pranit', 'Age': 22, 'City': 'Kolhapur'}

18. Create a dictionary and clear all items using clear().

In [37]:
city={"name":"Tanmayee","Age":22,"City":"Kolhapur"}
city.clear()
city

{}

19. Create a dictionary with numbers as keys and names as values. Print the dictionary.

In [38]:
city={1:"Tanmayee",2:"ABC",3:"XYZ"}
city

{1: 'Tanmayee', 2: 'ABC', 3: 'XYZ'}

20. Create a dictionary and copy it into a new dictionary using copy().

In [42]:
city={"name":"Tanmayee","Age":22,"City":"Kolhapur"}
ct=city.copy()
ct

{'name': 'Tanmayee', 'Age': 22, 'City': 'Kolhapur'}