### 1. Create a dictionary with 3 key-value pairs (name, age, city).

In [1]:
city={"name":"Tanmayee","Age":22,"City":"Kolhapur"}
city

{'name': 'Tanmayee', 'Age': 22, 'City': 'Kolhapur'}

### 2. Create a dictionary and print the value of a specific key.

In [2]:
city={"name":"Tanmayee","Age":22,"City":"Kolhapur"}
print(city.get("name"))
city["name"]

Tanmayee

'Tanmayee'

### 3. Create a list of 5 numbers and print the second element.

In [4]:
num=[10,20,30,40,50]
num[1]

20

### 4. Add an element "banana" to an existing list.

In [12]:
lst2=["Mango","Orange","Apple","Papaya"]
lst2.append("Banana")
lst2

['Mango', 'Orange', 'Apple', 'Papaya', 'Banana']

### 5. Insert "apple" at index 2 in a list.

In [9]:
lst2=["Mango","Orange","Papaya","Banana"]
lst2.insert(2,"apple")
lst2

['Mango', 'Orange', 'apple', 'Papaya', 'Banana']

### 6. Remove the element 10 from a list.

In [14]:
lst3=[20,10,30,70,60]
lst3.remove(10)
lst3

[20, 30, 70, 60]

### 7. Create a tuple with 4 elements and print the last one.

In [1]:
tp=(5,2,6,9)
tp[-1]

9

### 8. Convert a tuple into a list.

In [2]:
tp=(5,2,6,9)
list(tp)

[5, 2, 6, 9]

### 9. Find the length of a given tuple.

In [3]:
tp=(5,2,6,9)
tp.__len__()

4

### 10. Store 5 student names in a list and print them using a loop.

In [4]:
ls=["Riya","Om","Aditi","Pranit","Sayali"]
for i in ls:
    print(i)

Riya
Om
Aditi
Pranit
Sayali

### 11. Create two lists and concatenate them.

In [8]:
ls1=["Blue","Pink","Black"]
ls2=["White","Green"]
print(ls1+ls2)
ls1.extend(ls2)
ls1

['Blue', 'Pink', 'Black', 'White', 'Green']

['Blue', 'Pink', 'Black', 'White', 'Green']

### 12. Reverse a list without using reverse().

In [18]:
ls1=["Blue","Pink","Black"]
print(ls1[::-1])
ls1.reverse()
ls1

['Black', 'Pink', 'Blue']

['Black', 'Pink', 'Blue']

### 13. Sort a list in descending order.

In [23]:
lst3=[20,10,30,70,60]
lst3.sort()
print(lst3)
lst3.sort(reverse=True)
lst3

[10, 20, 30, 60, 70]

[70, 60, 30, 20, 10]

### 14. Create a set with 5 numbers and add a new number.

In [25]:
st={10,20,30,40,50}
st.add(60)
st

{10, 20, 30, 40, 50, 60}

### 15. Remove an element from a set using discard().

In [26]:
st={10,20,30,40,50}
st.discard(30)
st

{10, 20, 40, 50}

### 16. Find the union of two sets.

In [27]:
st={10,20,30,40,50}
st2={60,70,80,90,100}
st.union(st2)

{10, 20, 30, 40, 50, 60, 70, 80, 90, 100}

### 17. Find the intersection of two sets.

In [28]:
st={10,20,30,40,50}
st2={50,70,80,90,100}
st.intersection(st2)

{50}

### 18. Check if a value exists in a set.

In [30]:
st={10,20,30,40,50}
20 in st

True

### 19. Create a set and clear all elements.

In [32]:
st={10,20,30,40,50}
print(st)
st.clear()
st

{50, 20, 40, 10, 30}

set()

### 20. Convert a list with duplicate values into a set.

In [34]:
lt=[10,20,30,40,50,20,40]
print(lt)
print(set(lt))

[10, 20, 30, 40, 50, 20, 40]
{40, 10, 50, 20, 30}

### 21. Create a dictionary and update the value of a key.

In [36]:
dict={"Name":"ABC","RollNo":22,"Dept":"Data Science"}
print(dict)
dict["RollNo"]=33
dict

{'Name': 'ABC', 'RollNo': 22, 'Dept': 'Data Science'}

{'Name': 'ABC', 'RollNo': 33, 'Dept': 'Data Science'}

### 22. Delete a key-value pair from a dictionary.

In [38]:
dic={"Name":"ABC","RollNo":22,"Dept":"Data Science","Deg":"Btech"}
print(dic)
dic.pop("Deg")

{'Name': 'ABC', 'RollNo': 22, 'Dept': 'Data Science', 'Deg': 'Btech'}

'Btech'

### 23. Print all keys of a dictionary.

In [40]:
dic={"Name":"ABC","RollNo":22,"Dept":"Data Science","Deg":"Btech"}
dic.keys()

dict_keys(['Name', 'RollNo', 'Dept', 'Deg'])

### 24. Print all values of a dictionary.

In [41]:
dic={"Name":"ABC","RollNo":22,"Dept":"Data Science","Deg":"Btech"}
dic.values()

dict_values(['ABC', 22, 'Data Science', 'Btech'])

### 25. Loop through a dictionary and print key and value.

In [49]:
dic={"Name":"ABC","RollNo":22,"Dept":"Data Science","Deg":"Btech"}
for key,value in dic.items():
    print(f"Key: {key}, Value: {value}")

Key: Name, Value: ABC
Key: RollNo, Value: 22
Key: Dept, Value: Data Science
Key: Deg, Value: Btech

### 26. Create a list of numbers and print only even numbers.

In [51]:
lst=[1,2,3,4,5,6,7,8,9]
for i in lst:
    if i%2==0:
        print(i)

2
4
6
8

### 27. Create a tuple and unpack it into 3 variables.

In [59]:
tp=("Apple","Mango","Guava")
Fruit1,Fruit2,Fruit3=tp
print(f"Var1: {Fruit1}")
print(f"Var2: {Fruit2}")
print(f"Var3: {Fruit3}")

Var1: Apple
Var2: Mango
Var3: Guava

### 28. Check if a number is greater than 10 using a comparison operator.

In [ ]:
num1=20
num2=5
print(num1>10)
num2>10

True

False

In [64]:
# OR
num1=5
if num1>10:
    print(f"{num1} is greater than 10")
else:
    print(f"{num1} is not greater than 10")

5 is not greater than 10

### 29. Use the in operator to check if "python" exists in a list.

In [65]:
ls=["Python","Java","C","HTML"]
if "Python" in ls:
    print("Exists")
else:
    print("Not available")

Exists

### 30. Use the and operator in a condition.

In [2]:
age=25
eligible=True
if age>18 and eligible:
    print("Eligible to Vote")

Eligible to Vote

### 31. Use the % operator to check if a number is divisible by 5.

In [3]:
num=10
if num%5==0:
    print("Number is divisible by 5")

Number is divisible by 5

### 32. Use the ** operator to calculate 2 raised to the power 5.

In [4]:
a=2**5
a

32

### 33. Create two numbers and compare them using >=.

In [6]:
num1=35
num2=50
if num2>=num1:
    print("Is greater")
else:
    print("Is less")

Is greater

### 34. Create a list and remove the last element using pop().

In [7]:
ls=[1,2,3,4,5]
ls.pop()

5

### 35. Create a list and print its first and last elements.

In [8]:
ls=[1,2,3,4,5]
print(ls[0])
ls[-1]

1

5

### 36. Count how many times "apple" appears in a list.

In [9]:
ls=["Mango","Apple","Orange","Apple"]
ls.count("Apple")

2

### 37. Create a tuple and check if a value exists using in.

In [10]:
tp=[1,2,3,4,5,6]
3 in tp

True

### 38. Convert a dictionaryâ€™s keys into a list.

In [12]:
dic={"Name":"ABC","RollNo":22,"Dept":"Data Science","Deg":"Btech"}
print(list(dic))

['Name', 'RollNo', 'Dept', 'Deg']

### 39. Create a nested dictionary for a student (name, marks, subjects).

In [14]:
student_data = {
    "name": "Tanmayee Patil",
    "subjects": {
        "Mathematics": 92,
        "Physics": 88,
        "Chemistry": 95,
        "English": 78
    },
    "grades": {
        "Mathematics": "A+",
        "Physics": "A",
        "Chemistry": "A+",
        "English": "B"
    }
}
student_data

{'name': 'Tanmayee Patil',
 'subjects': {'Mathematics': 92,
  'Physics': 88,
  'Chemistry': 95,
  'English': 78},
 'grades': {'Mathematics': 'A+',
  'Physics': 'A',
  'Chemistry': 'A+',
  'English': 'B'}}

### 40. Merge two dictionaries into one.

In [ ]:
dict1 = {'a': 1, 'b': 2}
dict2 = {'b': 3, 'c': 4}
merge = dict1 | dict2
print(merge)

{'a': 1, 'b': 3, 'c': 4}

### 41. Create a set and print the number of elements.

In [28]:
st={1,2,3,4,5}
len(st)

5

### 42. Create a dictionary and print all items using items().

In [29]:
dic={"Name":"ABC","RollNo":22,"Dept":"Data Science","Deg":"Btech"}
dic.items()

dict_items([('Name', 'ABC'), ('RollNo', 22), ('Dept', 'Data Science'), ('Deg', 'Btech')])

### 43. Create a list of numbers 1 to 10 and print the square of each one.

In [30]:
ls=[1,2,3,4,5,6,7,8,9,10]
for i in ls:
    print(i*i)

1
4
9
16
25
36
49
64
81
100

In [31]:
ls=[1,2,3,4,5,6,7,8,9,10]
for i in ls:
    print(i**2)

1
4
9
16
25
36
49
64
81
100

### 44. Multiply two numbers and print the result using *.

In [32]:
a=2
b=4
print(a*b)

8

### 45. Divide two numbers and print the results using / and //.

In [33]:
a=8
b=4
print(a/b)
print(a//b)

2.0
2

### 46. Create a list and replace the element at index 1.

In [36]:
ls=[1,2,3,4,5]
ls[1]=6
print(ls)

[1, 6, 3, 4, 5]

### 47. Create a tuple from user input (3 values).

In [13]:
x=(input("Enter the first value:"))
y=(input("Enter the second value:"))
z=(input("Enter the third value:"))
tp=(1,2,4)
tp

(1, 2, 4)

### 48. Create a set from a string and print all unique characters.

In [3]:
st = "hello world"
st=set(st)
st

{' ', 'd', 'e', 'h', 'l', 'o', 'r', 'w'}

### 49. Use the is operator to compare two variables.

In [4]:
a=2
b=4
a is b

False

### 50. Create a dictionary and check if a key exists using in.

In [5]:
dic={"Name":"ABC","RollNo":22,"Dept":"Data Science","Deg":"Btech"}
"Name" in dic

True

### 51. Write a program to check if a number is between 10 and 50 using and.

In [7]:
a=33
if a>10 and a<50:
    print("a is between 10 and 50")
else:
    print("a is not between 10 and 50")

a is between 10 and 50

### 52. Check if a number is less than 5 or greater than 20 using or.

In [8]:
a=33
if a<5 or a>20:
    print("a is less than 5 or greater than 20")
else:
    print("a is not less than 5 or greater than 20")

a is less than 5 or greater than 20

### 53. Use not to check if a list is not empty.

In [10]:
lt=[10,20,30,40,50]
if not lt:
    print("The list is empty.")
else:
    print("The list is not empty.")
emp_lt = []

if not emp_lt:
    print("The list is empty.")
else:
    print("The list is not empty.")

The list is not empty.
The list is empty.

### 54. Write code to check if a character is a vowel using or.

In [ ]:
character = input("Enter a character: ")
if character == 'a' or character == 'e' or character == 'i' or character == 'o' or character == 'u':
    print(character, "is a vowel.")
else:
    print(character, "is not a vowel.")

t is not a vowel.

### 55. Check if a dictionary has both keys "name" and "age".

In [16]:
dic={"Name":"ABC","RollNo":22,"Dept":"Data Science","Deg":"Btech","Age":23}
"Name" in dic and "Age" in dic

True

### 56. Verify if a set contains either 10 or 20.

In [17]:
st={10,30,40,50}
10 in st or 20 in st

True

### 57. Use not to check if a number is not equal to 100.

In [19]:
num=20
if not num==100:
    print(f"{num} Not equal to 100")

20 Not equal to 100

### 58. Write a condition to check if a student passed (marks > 35 and attendance > 75).

In [21]:
marks = 62
att = 81
if marks > 35 and att > 75:
    print("Student passed")
else:
    print("Student failed")

Student passed

### 59. Use logical operators to check if a number is positive and even.

In [23]:
number = 20
if number > 0 and number % 2 == 0:
    print(f"{number} is positive and even.")
else:
    print(f"{number} is not positive and not even.")

20 is positive and even.

### 60. Check if a tuple has more than 3 elements or contains the value 0.

In [24]:
tp=(1,2,3,4,0)
if len(tp)>3 or 0 in tp:
    print("tp has more than 3 elements or contains the value 0.")
else:
    print("tp don't have more than 3 elements or contains the value 0.")

tp has more than 3 elements or contains the value 0.